:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #1B2430;
    --primary-color: #B9FFF8;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 1.75em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.2em;
    margin-top: 40px;
}

.box {
    border: 2px solid #B9FFF8;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.botao-jogar {
    padding: 8px 15px;
    border: 0;
    background: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}

.fala-gameover {
    text-transform: uppercase;
    font-size: 6em;
}